<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>后台模板</title>
		<link rel="stylesheet" href="./Public/Admin/Member/css/amazeui.css" />
		<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
<link rel="stylesheet" href="./Public/Admin/Member/css/core.css" />
		<link rel="stylesheet" href="./Public/Admin/Member/css/menu.css" />
		<link rel="stylesheet" href="./Public/Admin/Member/css/index.css" />
		<link rel="stylesheet" href="./Public/Admin/Member/css/admin.css" />
		<link rel="stylesheet" href="./Public/Admin/Member/css/page/typography.css" />
		<link rel="stylesheet" href="./Public/Admin/Member/css/page/form.css" />
	</head>
	<body>
		<!-- Begin page -->
		<?php require './Application/View/Admin/Member/herder.html'?>
		<!-- end page -->
		
		
		<div class="admin">
			<!--<div class="am-g">-->
		<!-- ========== Left Sidebar Start ========== -->
		<!--<div class="left side-menu am-hide-sm-only am-u-md-1 am-padding-0">
			<div class="slimScrollDiv" style="position: relative; overflow: hidden; width: auto; height: 548px;">
				<div class="sidebar-inner slimscrollleft" style="overflow: hidden; width: auto; height: 548px;">-->
                  <!-- sidebar start -->
			<?php require './Application/View/Admin/Member/red.html'?>
				  <!-- sidebar end -->
    
				<!--</div>
			</div>
		</div>-->
		<!-- ========== Left Sidebar end ========== -->
		
		
		
	<!--	<div class="am-g">-->
		<!-- ============================================================== -->
		<!-- Start right Content here -->
		<div class="content-page">
			<!-- Start content -->
			<div class="content">
				<div class="am-g">
					<!-- Row start -->
						<div class="am-u-sm-12">
							<div class="card-box">
								<ul class="am-nav am-fr">
								  <li class="am-dropdown" data-am-dropdown>
								    <a class="am-dropdown-toggle" data-am-dropdown-toggle href="javascript:;">
								       <span class="am-icon-caret-down"></span>
								    </a>
								    <ul class="am-dropdown-content">
								      <li>1231234</li>
								      <li>1231234</li>
								      <li>1231234</li>
								      <li>1231234</li>
								    </ul>
								  </li>
								</ul>
								
								<form action="index.php?p=Admin&c=Plans&a=edit" class="am-form" data-am-validator method="post" enctype="multipart/form-data">
								  <fieldset>
								    <legend>JS 表单验证</legend>
								    <div class="am-form-group">
								      <label for="doc-vld-name-2">套餐名称：</label>
								      <input type="text" name="name" value="<?=$name?>" id="doc-vld-name-2"  required/>
								      <input type="hidden" name="plan_id" value="<?=$plan_id?>"  required/>
								    </div>

								
								    <div class="am-form-group">
								      <label>套餐描述：</label>
										<!-- 加载编辑器的容器 -->
										<script id="container" name="des" type="text/plain">
        <?=$des?>
    </script>
										<!-- 配置文件 -->
										<script type="text/javascript" src="./Public/Admin/Ueditor/ueditor.config.js"></script>
										<!-- 编辑器源码文件 -->
										<script type="text/javascript" src="./Public/Admin/Ueditor/ueditor.all.js"></script>
										<!-- 实例化编辑器 -->
										<script type="text/javascript">
                                            var ue = UE.getEditor('container');
										</script>
								    </div>

									  <div class="am-form-group">
										  <label>套餐金额：</label>
										  <input type="text" name="money" value="<?=$money?>"  required/>
									  </div>
								
								    <div class="am-form-group">
								      <label>是否为管理员</label>
										<input type="radio" name="status" value="1" <?=$status==1?'checked':''?>>上线
										<input type="radio" name="status" value="0" <?=$status==0?'checked':''?>>下线
								    </div>
								    <button class="am-btn am-btn-secondary" type="submit">修改</button>
								  </fieldset>
								</form>
								
								
							</div>
						</div>
					<!-- Row end -->
				</div>
			
			
			
			
			</div>
		</div>
		<!-- end right Content here -->
		<!--</div>-->
		</div>
		</div>
		
		<!-- navbar -->
		<a href="admin-offcanvas" class="am-icon-btn am-icon-th-list am-show-sm-only admin-menu" data-am-offcanvas="{target: '#admin-offcanvas'}"><!--<i class="fa fa-bars" aria-hidden="true"></i>--></a>
		
		<script type="text/javascript" src="./Public/Admin/Member/js/jquery-2.1.0.js" ></script>
		<script type="text/javascript" src="./Public/Admin/Member/js/amazeui.min.js"></script>
		<script type="text/javascript" src="./Public/Admin/Member/js/app.js" ></script>
		<script type="text/javascript" src="./Public/Admin/Member/js/blockUI.js" ></script>
	</body>
	
</html>
